<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>About Us</h1>
            <h2>... We Are Your Real Madrid Fan Family!</h2>
        </div>
<div class="content">
    <div class= "flex-container">
        <div class="column">
                <img src="img/avatars/avatar.jpg" alt="Avatar" class="avatar">

        </div>
        <div class= "one-column">
                <h2>Alejandro Leon Jr</h2>
                <ul>
                    <li>Long Time Madridista</li>
                    <li>Founder</li>
                    <li>Established 2019</li>
                </ul> 
        </div>
    </div>
    <p>
        Lorem ipsum dolor sit amet, vis ne intellegam necessitatibus, sonet elitr dolor id 
        sed. Veri nonumy scripserit sit at, mea ex ornatus debitis comprehensam. An ipsum 
        iisque deleniti ius, per tation putant erroribus ea, mei adhuc qualisque et. Cu pri 
        amet assum mediocrem, assum civibus menandri ea pri. Eos vide repudiare an. Nobis 
        exerci no nam, id cum elit vivendum imperdiet. Sit no iisque inimicus tractatos, 
        quo omnis dicunt id. Id solum reque consul per. Novum verear et vis. Legimus 
        eligendi adversarium sea eu, in qui diam putant. At tation splendide mel, wisi 
        ludus dissentias ei eum, sumo vivendo qualisque usu.
    </p>
    <br>
    <p>
        Consequat rationibus deterruisset cu his. Ut velit propriae pri. Cu eum eirmod 
        antiopam, vim vero illud ceteros ea. Eos tamquam copiosae iudicabit at, te has alii 
        harum copiosae, eu duo nusquam fabellas inimicus. Eu denique nominati delicata mea, 
        no mazim moderatius sadipscing vis. In erat patrioque mediocritatem cum, ex mel error 
        errem mentitum, eam cu stet case expetendis.Cum id diam nonumes legendos, mel 
        tempor integre cu. Id meis delenit officiis nec. Sea alia inermis adipiscing ad, ne 
        nec aliquid splendide, suas laoreet patrioque quo an. Nam soluta conclusionemque ex. 
        No mel summo decore incorrupte. Eum justo quodsi ex, cum eros suscipit convenire et.
    </p>
            
            

            
</div>
        <% include partial/footer %>

<% include partial/end %>
