<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Real Madrid Club de Fútbol</h1>
            <h2>...The Greatest Club in Football History</h2>
        </div>
<div class="content">
            <h2 class="content-subhead">Stay Up To Date With Real Madrid C.F.</h2>
            <p>
                Explore our website to learn about the rich and beautiful past of the greatest 
                club in football history. This site also serves as a community for like-minded 
                fans to come together to catch up on the latest news and to discuss their passion. Real 
                Madrid Fan Direct is dedicated to providing top-notch Real Madrid news, 
                views, and original content.
            </p>
            <h2 class="content-subhead">Real Madrid C.F. Shop</h2>
            <p>
                If you would like some merchandise to support your favorite Real Madrid super-star, 
                then you can visit the official <a class = "store" target="_blank" 
                href="https://shop.realmadrid.com/stores/realmadrid/us">Real Madrid</a> 
                store. Los Blancos in English translates to ‘The Whites’. It describes the 
                club's all white primary kit, as it has been since the club’s inception and 
                if for sure one of the most iconic and easily recognisable jerseys in world 
                football.
            </p>

            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="img/images-jersey/home-kit.jpg" alt="2019/20 Home Jersey">
                    <div class="middle">
                        <div class="text-hoverjersey"> <a href="/404">Shop</a></div>
                      </div>
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="img/images-jersey/away-kit.jpg" alt="2019/20 Away Jersey">
                    <div class="middle">
                        <div class="text-hoverjersey"> <a href="/404">Shop</a></div>
                      </div>
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="img/images-jersey/third-kit.jpg" alt="2019/20 Third Jersey">
                    <div class="middle">
                        <div class="text-hoverjersey"> <a href="/404">Shop</a></div>
                      </div>
                </div>
            </div>

            <h2 class="content-subhead">Real Madrid C.F. News</h2>
            <div class="twitter-timeline-wrapper">
                <a class="twitter-timeline" data-width="500" data-height="800" 
                    data-theme="dark" data-link-color="#2B7BB9" 
                    href="https://twitter.com/realmadriden?ref_src=twsrc%5Etfw">
                    Tweets by realmadriden
                </a> 
                <script async src="https://platform.twitter.com/widgets.js" 
                    charset="utf-8">
                </script>
            </div>
        </div>
        <% include partial/footer %>
        <% include partial/scripts %>

<% include partial/end %>