<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Sorry</h1>
            <h2>... This Page Is Under Maintenance.</h2>
        </div>
<div class="content">
            <img class ="error" src="img/error404.jpg">
            <p>
            Please Don't Leave, Visit Another Page While We Fix This Link For You.  
            </p>

            
        </div>
        <% include partial/footer %>

<% include partial/end %>