<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Real Madrid Galacticos</h1>
            <h2>... A Legend Never Dies!</h2>
        </div>
<div class="content">
    <div class = "playername">
        <img class = "soccerStars" src="img/images-random-content/<%- image.url %>" 
        alt="<%- image.alt %>"> 
    </div>
    <p>
        Real Madrid are one of the most famous clubs in world sport; their record nine 
        Champions League wins to add to their 32 Spanish league titles makes them the 
        most successful team at home and on the continent.
        Naturally, success attracts and therefore their incredible achievements have 
        created a fan base far beyond the Spanish capital. Often referred to as the 
        "Galacticos" due to their tendency to buy the biggest stars in the game.
        Famed for their Galacticos in the early noughties, including Luis Figo, 
        Zinedine Zidane and Ronaldo, the Santiago Bernabeu club is one of the powerhouses 
        of the game.
    </p>
    <br>
    <p>
        Real Madrid Club de Fútbol is a Spanish professional football club based in Madrid. 
        Founded on 6 March 1902 as Madrid Football Club, the club has traditionally worn a
        white home kit since inception. The word real is Spanish for "royal" and was bestowed
        to the club by King Alfonso XIII in 1920 together with the royal crown in the emblem. 
        The team has played its home matches in the 81,044-capacity Santiago Bernabéu Stadium in 
        downtown Madrid since 1947.
    </p>
    <br>
    <p>
       Real Madrid established itself as a major force in both Spanish and European football 
       during the 1950s, winning five consecutive European Cups and reaching the final seven 
       times.Real Madrid was recognised as the FIFA Club of the 20th Century on 11 December 
       2000 and received the FIFA Centennial Order of Merit on 20 May 2004. Real Madrid was 
       recognised as the FIFA Club of the 20th Century on 11 December 2000 and received 
       the FIFA Centennial Order of Merit on 20 May 2004.
    </p>
</div>
<% include partial/footer %>
<% include partial/end %>



