<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Thank You</h1>
            <h2>... For Becoming A Madridista!</h2>
</div>
  <div class="content">
    <p class ="thankyou">
      Welcome To The Club. 
    </p>
    <img class = "halamadrid" src = "img/subscribed.png">

        </div>
        <% include partial/footer %>

<% include partial/end %>